Repository Unam3dd/transcendence, pull requests merged in 2023-11, with the labels that each got.

#121 94 backend/frontend create registration user and login without 42 api
  backend/src/interfaces/auth.interfaces.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/users/entities/user.entity.ts
  backend/src/modules/users/users.service.ts
  frontend/src/app/connection/connection.component.html
  frontend/src/app/connection/connection.component.scss
  frontend/src/app/connection/connection.component.ts
  frontend/src/app/env.ts
  frontend/src/app/interfaces/user.interface.ts
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.ts
  frontend/src/app/services/cookies.service.ts
  frontend/src/app/services/requests.service.ts
  frontend/src/app/services/timer.service.spec.ts
  frontend/src/app/services/timer.service.ts
Labels: dependencies, BACKEND, FRONTEND, DEVOPS, Django, NestJS, Angular

#124 123 devops integrate portainer with docker compose
  backend/package-lock.json
  backend/package.json
  docker-compose-dev.yml
  docker-compose-test.yml
  docker-compose.yml
Labels: documentation, SECURITY, DEVOPS

#129 125 backend hash password in database with argon2
  backend/package-lock.json
  backend/package.json
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.guard.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/users/users.service.ts
  frontend/src/app/connection/connection.component.ts
  frontend/src/app/home-page/home-page.component.ts
  frontend/src/app/register/register.component.ts
  frontend/src/app/services/notifications.service.ts
  frontend/src/app/services/requests.service.ts
Labels: enhancement, FEATURES, BACKEND, SECURITY

#131 update notifications a new smooth notifications with angular2 notifications
  backend/src/modules/users/users.controller.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/chat/chat.component.html
  frontend/src/app/chat/chat.component.ts
  frontend/src/app/connection/connection.component.html
  frontend/src/app/connection/connection.component.ts
  frontend/src/app/home-page/home-page.component.html
  frontend/src/app/home-page/home-page.component.ts
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.ts
  frontend/src/app/services/notifications.service.spec.ts
  frontend/src/app/services/notifications.service.ts
  frontend/src/app/services/requests.service.ts
Labels: enhancement, FEATURES, FRONTEND, ACCESSIBILITY, UserExperience

#134 [FRONTEND] Patch duration timeout on notifications
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
Labels: enhancement, FRONTEND, UserExperience

#171 169 css for connection page
  backend/package-lock.json
  backend/src/gateway/gateway.ts
  frontend/package-lock.json
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/connection/connection.component.html
  frontend/src/app/connection/connection.component.scss
  frontend/src/app/footer/footer.component.html
  frontend/src/app/footer/footer.component.scss
  frontend/src/app/friends/friends.component.html
  frontend/src/app/friends/friends.component.scss
  frontend/src/app/header/header.component.html
  frontend/src/app/header/header.component.scss
  frontend/src/app/home-page/home-page.component.html
  frontend/src/app/home-page/home-page.component.scss
  frontend/src/app/register/register.component.html
  frontend/src/app/register/register.component.scss
  frontend/src/app/websocket/websocket.service.ts
  frontend/src/assets/images/background.jpg
  frontend/src/assets/images/hand.png
  frontend/src/styles.scss
Labels: FRONTEND, Angular, Bootstrap

#177 113 frontend migrate all request depending on production or dev mode
  .env.template
  backend/src/enum/status.enum.ts
  backend/src/gateway/events.module.ts
  backend/src/gateway/gateway.ts
  backend/src/gateway/ws/ws.guard.ts
  backend/src/interfaces/user.interfaces.ts
  backend/src/main.ts
  backend/src/modules/a2f/a2f.controller.ts
  backend/src/modules/a2f/a2f.module.ts
  backend/src/modules/a2f/a2f.service.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.guard.ts
  backend/src/modules/auth/auth.module.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/block/entities/block.entity.ts
  backend/src/modules/remote-game/game.ts
  backend/src/modules/remote-game/lobbiesServices.ts
  backend/src/modules/remote-game/lobby.ts
  backend/src/modules/upload/upload.controller.ts
  backend/src/modules/users/dto/create-user.dto.ts
  backend/src/modules/users/entities/user.entity.ts
  backend/src/modules/users/users.controller.ts
  backend/src/modules/users/users.service.ts
  containers/nginx/nginx.conf
  containers/nodejs/entrypoint
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/connection/connection.component.ts
  frontend/src/app/env.ts
  frontend/src/app/home-page/home-page.component.html
  frontend/src/app/register/register.component.html
  frontend/src/app/websocket/websocket.service.ts
Labels: enhancement, dependencies, BACKEND, FRONTEND, MAIN, SECURITY, Angular
